adium-theme-ubuntu==0.3.4
appdirs==1.4.3
chardet==2.3.0
Django==1.11.1
django-bootstrap3==8.2.3
httplib2==0.10.3
oauth2==1.9.0.post1
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.1
Pygments==2.1
PyJWT==1.5.0
pyparsing==2.2.0
Pyste==0.9.10
python-openid==2.2.5
python-social-auth==0.3.6
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
sqlparse==0.1.18
unity-lens-photos==1.0
vboxapi==1.0
