<div class="row moreSpaceForPanel">
  <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
    <div class="myPanel">
      <div class="panelHead">
        <h2 class="panel-title"><strong>Общий размер донатов</strong></h2>
      </div>
      <div class="panel-body">
        <h2 class="panelup"><strong>{{sum_donation}}</strong>
          <small><span class="glyphicon glyphicon-ruble"></span></small></h2>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
    <div class="myPanel">
      <div class="panelHead">
        <h2 class="panel-title"><strong>Количество донатов</strong></h2>
      </div>
      <div class="panel-body">
        <h2  class="panelup"><strong>{{number_donation}}</strong>
          <small><span class="glyphicon glyphicon-stats"></span></small></h2>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
    <div class="myPanel">
      <div class="panelHead">
        <h2 class="panel-title"><strong>Самый большой донат</strong></h2>
      </div>
      <div class="panel-body">
        <h2  class="panelup"><strong>{{max_donate}}</strong>
          <small><span class="glyphicon glyphicon-ruble"></span></small></h2>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
    <div class="myPanel">
      <div class="panelHead">
        <h2 class="panel-title"><strong>Средний размер донатов</strong></h2>
      </div>
      <div class="panel-body">
        <h2 class="panelup"><strong>{{ average_donate|floatformat:0}}</strong>
          <small><span class="glyphicon glyphicon-ruble"></span></small></h2>
      </div>
    </div>
  </div>
</div>
