.text p{
  border-left: 4px solid #6285AF;
  margin-bottom: 0px;
  padding-left: 10px;
  font-weight: normal;
  font-size: medium;
  text-align: justify;
}

@media screen and (max-width: 767px)  {
  .text p{
    border-left: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.information p{
  font-size: medium;
}

.center{
    display:block;
    margin:0 auto;
}

.line{
    margin-top: 0px;
}

body {
  background: #edeef0;
}

.profile-content {
  padding: 15px;
  margin-bottom: 15px;
  background: #fff;
}

.border {
  border: 1px solid #dae1e8;
}

.main{
  padding-left: 0px;
  margin-top: 65px;
}

.sidebar{
  margin-top: 65px;
}

@media screen and (max-width: 767px) {
    .main {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 0px;
    }

    .sidebar{
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 49px;
   }
}



/* #################### стили sideBar  #################### */
.profile-sidebar {
  padding: 5px 0 5px 0;
  margin-bottom: 15px;
  background: white;
}

.profile-usermenu {
  margin-top: 0px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #285473;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #F0F2F5;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #F0F2F5;
  border-left: 2px solid #6285AF;
  margin-left: -2px;
}

.profile-content-for-current {
  padding: 15px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  background: #fff;
}
/* #################### конец стилей sideBar #################### */



/* #################### отсутствие контента #################### */
.noDonation p{
  border-left: 4px solid #6285AF;
  margin-bottom: 0px;
  padding-left: 10px;
  font-weight: normal;
  font-size: medium;
}

@media screen and (max-width: 768px)  {
  .noDonation p{
    border-left: none;
    text-align: center;
  }
}

.noData {
  border: 1px solid #dae1e8;
  border-left: 4px solid #6285AF;
  background-color: #fff;
  padding: 10px;
}

.noData > p{
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
/* #################### конец отсутствия контента #################### */



/* #################### стили последнего доната #################### */
.lastDonate{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #dae1e8;
}

.lastDonate > .panel{
  margin-bottom: 0px;
}

.lastDonate > .panel > .panel-heading{
  padding-top: 10px;
  padding-bottom: 10px;
}

.lastDonate > .panel > .panel-body{
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width: 767px){
  .lastDonate > .panel > .panel-body{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.panel-heading > p{
  color: #285473;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0px;
}
/* #################### конец стилей последнего доната #################### */



/* #################### стили пагинатора #################### */
.pagination{
  margin-bottom: 0px;
}
/* #################### конец стили пагинатора #################### */



/* #################### стили таблицы #################### */
@media screen and (max-width: 767px){
  .moreSpace{
    padding-right:5px;
    padding-left:5px;
  }

  .moreSpaceForPanel div{
    padding-right:0px;
    padding-left:0px;
  }

  .moreSpaceForPanel{
    padding-right: 0px;
    padding-left: 0px;
  }
}

.tableTitle{
  margin-top: 0px;
}

.tableHead{
  background-color: #F0F2F5;
}

.myTable{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.tableHead th{
  text-align: center;
}

.tableBody td{
  text-align: center;
}

.donation td:last-child{
  text-align: left;
}

.donation th:last-child{
  text-align: left;
}

.tableBody a{
  color: #336BAB;
  font-weight: 700;
}
/* #################### конец стилей таблицы #################### */



/* #################### стили групп #################### */
.group{
  margin-top: 15px;
}

.hrGroup{
  margin:0px;
  margin-bottom: 0px;
}
/* #################### конец стилей групп #################### */


/* #################### DAY DONATOR #################### */

@media screen and (min-width: 1200px){
  .dayDonator{
    width: 49%;
    margin-right: 15px;
    padding-left: 0px;
  }
  .dayDonator img{
    width: 100%;
    height: 120%;
  }
  .dayDonator .dayDonatorStats{
    padding-left: 0px;
  }
  .dayDonator h3{
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .monthDonator{
    width: 49%;
    padding-left: 0px;
  }
  .monthDonator img{
    width: 100%;
    height: 120%;
  }
  .monthDonator .monthDonatorStats{
    padding-left: 0px;
  }
  .monthDonator h3{
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px){
  .dayDonator{
    width: 48.9%;
    margin-right: 15px;
    padding-left: 0px;
  }
  .dayDonator img{
    width: 100%;
    height: 120%;
  }
  .dayDonator .dayDonatorStats{
    padding-left: 0px;
  }
  .dayDonator h3{
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .monthDonator{
    width: 48.9%;
    padding-left: 0px;
  }
  .monthDonator img{
    width: 100%;
    height: 120%;
  }
  .monthDonator .monthDonatorStats{
    padding-left: 0px;
  }
  .monthDonator h3{
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px){
  .dayDonator{
    width: 48.64%;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .dayDonator img{
    display:block;
    margin:0 auto;
    width: 70%;
    height: 70%;
  }
  .dayDonator .dayDonatorStats{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .dayDonator h3{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .monthDonator{
    width: 48.64%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .monthDonator img{
    display:block;
    margin:0 auto;
    width: 70%;
    height: 70%;
  }
  .monthDonator .monthDonatorStats{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .monthDonator h3{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px){
  .dayDonator{
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .dayDonator img{
    display:block;
    margin:0 auto;
    width: 70%;
    height: 70%;
  }
  .dayDonator .dayDonatorStats{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .dayDonator h3{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .monthDonator{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .monthDonator img{
    display:block;
    margin:0 auto;
    width: 70%;
    height: 70%;
  }
  .monthDonator .monthDonatorStats{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .monthDonator h3{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.timeDonator p{
  margin-bottom: 0px;
  font-weight: normal;
  font-size: medium;
  margin-bottom: 5px;
}

.timeDonator a{
  color: #2a5885;
}



/* #################### END DAY DONATOR #################### */


/* #################### стили панелей #################### */
.panelTitle{
  color: #45668e;
  margin-top: 0px;
}

.panelup{
    margin-top: 10px;
}

.myPanel{
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #dae1e8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

@media screen and (max-width: 767px){
  .myPanel{
    margin-left: 5px;
    margin-right: 5px;
  }
}

.panelHead{
  padding: 10px 15px;
  border-bottom: 1px solid #dae1e8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #F0F2F5;
}
/* #################### конец стилей панелей #################### */



/* #################### стили для news #################### */
.articleTitle{
    margin-top: 0px;
}

.article {
  border: 1px solid #dae1e8;
  margin-bottom: 15px;
  padding: 15px;
  background: #fff;
}

.article > p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-left: 2px solid #6285AF;
  font-size: 16px;
  margin-bottom: 0px;
  padding-left: 10px;
}

@media screen and (max-width: 767px){
  .article{
    padding-right:5px;
    padding-left:5px;
  }
}
/* #################### конец стилей для news #################### */



/* #################### стили navbar #################### */

/* задник и граница navBar'a */
.navbar-default {
  border: none;
  background-color: #507299;
}

/* граница для кнопки раскрытия для XC*/
.navbar-default .navbar-toggle {
  border: none;
}

/* фон для кнопки раскрытия для XC*/
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #405F85;
}

/* цвет для кнопки раскрытия для XC*/
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* стиль для vkDonate */
.navbar-default .navbar-brand {
  color: #fff;
  font-weight: 700;
}

/* при наведении на vkDonate */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

/* стили для ссылок в navBare'e */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

/* при наведении на ссылки */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

/* при наведении на ссылки при XS */
@media screen and (max-width: 768px){
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    background-color: #405F85;
  }
}

/* отменяет прокрутку для xs navBar'a*/
#myNavbar{
  overflow: hidden;
  border-color: #405F85;
}

.navbar-header{
  padding-left: 8.7%;
}

.navbar-collapse ul.navbar-nav{
  padding-right: 8.7%;
}

@media screen and (max-width: 1200px){
   .navbar-header{
     padding-left: 3px;
   }
  .navbar-collapse ul.navbar-nav{
    padding-right: 3px;
  }
}

/* #################### конец стилей navbar #################### */