.title{
    margin-top: 0;
}

.center{
    display:block;
    margin:0 auto;
}

.number{
    width:70px;
    text-align: center;
}

.date{
    width:200px;
    text-align: center;
}

.id{
    width:120px;
    text-align: center;
}

.size{
    width:100px;
    text-align: center;
}

.alldonationsize{
    width:150px;
    text-align: center;
}

.firstname{
    width: 200px;
    text-align: center;
}

.secondname{
    width: 200px;
    text-align: center;
}

.group{
    margin-bottom: 30px;
}

.my{
    padding-right: 0px;
}

.tabletitle{
    background-color: #c7ddef;
}

.heading{
    height: 220px;
}

.headinghead{

}

.panelup{
    margin-top: 10px;
}

.headingtext{
    margin-top: 30px;
}

.article{
    margin-bottom: 20px;
}

.pbody{
    margin-top: 15px;
}

.articlein{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.articleTitle{
    margin-top: 0px;
}

.articleText{
    text-align: justify;
}

.articleTextin{
    text-align: justify;
}

.articleright{
    margin-top: 50px;
}

.line{
    margin-top: 0px;
}

.lastdonate{
    margin-top: 20px;
}







/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 10px 0 10px 0;
  background: #fff;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usermenu {
  margin-top: 0px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 10px;
  background: #fff;
}

.spisok{
    position: relative;
}

.podspisok{
    height: 100%;
}