.title{
    margin-top: 0;
}

.center{
    display:block;
    margin:0 auto;
}

.number{
    width:70px;
    text-align: center;
}

.date{
    width:200px;
    text-align: center;
}

.id{
    width:120px;
    text-align: center;
}

.size{
    width:100px;
    text-align: center;
}

.alldonationsize{
    width:150px;
    text-align: center;
}

.firstname{
    width: 200px;
    text-align: center;
}

.secondname{
    width: 200px;
    text-align: center;
}

.group{
    margin-bottom: 30px;
}

.my{
    padding-right: 0px;
}

.tabletitle{
    background-color: #c7ddef;
}

.heading{
    height: 220px;
}

.headinghead{

}

.panelup{
    margin-top: 10px;
}

.headingtext{
    margin-top: 30px;
}

.article{
    margin-bottom: 20px;
}

.pbody{
    margin-top: 15px;
}

.articlein{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.articleTitle{
    margin-top: 0px;
}

.articleText{
    text-align: justify;
}

.articleTextin{
    text-align: justify;
}

.articleright{
    margin-top: 50px;
}

