{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>VkDonate</title>

    <!-- Bootstrap -->

    <link link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
      <link link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">VkDonate</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Настройки<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Статистика</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Информация<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user_id %}
                    <li><a href="/auth/logout/">Выйти({{ user_id }})</a></li>
                {% else %}
                    <li><a href="https://oauth.vk.com/authorize?client_id=6020313&display=page&redirect_uri=http://vkdonate.ru/auth/callback/&scope=262144&response_type=code&v=5.64">Войти</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">

              {% block leftbar %}  {% endblock %}

              {% block lastDonate %} {% endblock %}

          </div>

          <div class="col-sm-9  col-md-10">

              {% block content %} {% endblock %}

          </div>

          {% block paginator %} {% endblock %}

      </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>