{% load staticfiles %}

<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>VKDonate</title>
	<link link rel="stylesheet" type="text/css" href="{% static "static/css/newDesign.css" %}" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body style="overflow: scroll">
	<div id="wrapper">

		<header>
            <a href="/"><img src="https://habrastorage.org/getpro/habr/post_images/ad1/e15/d92/ad1e15d92086ee83c396cb458509df2d.png" alt="Whitesquare logo"></a>

            <div class="login">
                {% if user_id %}
                    <h2><a style="color:#b2b2b2; text-decoration:none" href="/auth/logout/">Выйти ({{ user_id }})</a></h2>
                {% else %}
                    <h2><a style="color:#b2b2b2; text-decoration:none" href="https://oauth.vk.com/authorize?client_id=6020313&display=page&redirect_uri=http://vkdonate.ru/auth/callback/&scope=262144&response_type=code&v=5.64">Войти</a></h2>
                {% endif %}
            </div>
        </header>

		<nav style="background: url({% static "images/bck.jpg" %});">
            <ul class="top-menu">
		        {% block activeMain %} <li style="color: #fff;"><a href="/">ДОМОЙ</a></li> {% endblock %}
		        {% if user_id %}<li> НАСРОЙКИ </li>{% endif %}
		        {% if user_id %}<li>СТАТИСТИКА</li>{% endif %}
		        <li>О НАС</li>
		        <li>КОНТАКТЫ</li>
	        </ul>
        </nav>

		<div id="heading">
        </div>

		<aside>

            {% block active %}
            {% endblock %}

            {% block last_donate %}
            {% endblock %}

        </aside>

        {% block content %}
            {# Основная ифнормация на странице #}
        {% endblock %}

	</div>
</body>
</html>
