{% extends "vkDonate.html" %}

{% block content %}
<section>

    {% block mainInformation %}
    {% endblock %}

</section>
{% endblock %}

{% block active %}
    <nav>
        <ul class="aside-menu">
            <li><a href="/donations/">МОИ ДОНАТЫ</a></li>
            <li><a href="/donaters/">МОИ ДОНАТЕРЫ</a></li>
            <li><a href="/groups/">МОИ ГРУППЫ</a></li>
        </ul>
    </nav>
{% endblock %}

{% block activeMain %}
    <li class="active"><a href="/">ДОМОЙ</a></li>
{% endblock %}