{% extends "vkdonate.html" %}

{% block content %}
    {% block header %} {% endblock %}
    {% block mainInformation %} {% endblock %}
{% endblock %}

{% block leftbar %}
    <ul class="nav nav-sidebar text-center">
        <li class="active"><a href="/donations/">Мои донаты<span class="sr-only">(current)</span></a></li>
        <li><a href="/donaters/">Мои донатеры</a></li>
        <li><a href="/groups/">Мои группы</a></li>
    </ul>
{% endblock %}

{% block lastDonate %}
    <ul class="nav nav- text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><span>Последний донат</span></h4>
            </div>
            <div class="panel-body">
                <p><span class="glyphicon glyphicon-calendar"></span>{{ last_donate.0.donation_date }}</p>
                <p><span class="glyphicon glyphicon-rub"></span>{{ last_donate.0.donation_size }}</p>
                <p><span class="glyphicon glyphicon-bullhorn"></span>   {{ last_donate.0.donation_text }}</p>
            </div>
        </div>
    </ul>
{% endblock %}