{% extends "vkdonate.html" %}

{% block content %}
    <div class="col-md-12" style="padding: 0px">
    <div class="profile-content">
    {% block header %} {% endblock %}
    {% block mainInformation %} {% endblock %}
    </div>
    </div>
{% endblock %}

{% block lastDonate %}
    {% if user_id and last_donate %}
    <ul class="nav nav- text-center" style="margin-top: 20px">
        <div class="panel">
            <div class="panel-heading profile-usertitle-name">
                Последний донат
            </div>
            <div class="panel-body">
                <p><span class="glyphicon glyphicon-calendar"></span>{{ last_donate.0.donation_date }}</p>
                <p><span class="glyphicon glyphicon-rub"></span>{{ last_donate.0.donation_size }}</p>
                <p><span class="glyphicon glyphicon-bullhorn"></span>   {{ last_donate.0.donation_text }}</p>
            </div>
        </div>
    </ul>
    {% endif %}
{% endblock %}

{% block paginator %}
    {% if pages > 1 %}
    <div class="text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if objects.has_previous %}
                <li>
                    <a aria-label="Previous" href="/donations/page/{{ objects.previous_page_number }}/">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a aria-label="Previous" href="">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% if objects.number|add:'-4' > 0 %}
                <!-- Если до текущей страницы есть больше 4 страниц, показываем многоточие -->
                <li><span>...</span></li>
            {% endif %}

            {% if objects.number|add:'-3' > 0 %}
                <!-- Если до текущей страницы есть ещё три страницы -->
                <li><a href="/donations/page/{{objects.number|add:'-3'}}">{{ objects.number|add:'-3' }}</a></li>
            {% endif %}
            {% if objects.number|add:'-2' > 0 %}
                <!-- Если до текущей страницы есть ещё две страницы -->
                <li><a href="/donations/page/{{objects.number|add:'-2'}}">{{ objects.number|add:'-2' }}</a></li>
            {% endif %}
            {% if objects.number|add:'-1' > 0 %}
                <!-- Если до текущей страницы есть ещё одна страница -->
                <li><a href="/donations/page/{{objects.number|add:'-1'}}">{{ objects.number|add:'-1' }}</a></li>
            {% endif %}

            <!-- Номер текущей страницы -->
            <li class="active"><a>{{ objects.number }}</a></li>

            {% if objects.number|add:'1' <= pages %}
                <!-- Если после текущей страницы есть ещё одна страница -->
                <li><a href="/donations/page/{{objects.number|add:'1'}}">{{ objects.number|add:'1' }}</a></li>
            {% endif %}
            {% if objects.number|add:'2' <= pages%}
                <!-- Если после текущей страницы есть ещё две страницы -->
                <li><a href="/donations/page/{{objects.number|add:'2'}}">{{ objects.number|add:'2' }}</a></li>
            {% endif %}
            {% if objects.number|add:'3' <= pages%}
                <!-- Если после текущей страницы есть ещё три страницы -->
                <li><a href="/donations/page/{{objects.number|add:'3'}}">{{ objects.number|add:'3' }}</a></li>
            {% endif %}

            {% if objects.number|add:'4' <= pages%}
                <!-- Если после текущей страницы есть ещё четыре страницы -->
                <li><span>...</span></li>
            {% endif %}

            {% if objects.has_next %}
                <li>
                    <a aria-label="Next" href="/donations/page/{{ objects.next_page_number }}/">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a aria-label="Next" href="">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
{% endblock %}

{% block profileSideBar %}
    <div class="profile-sidebar" style="margin-bottom: 10px;">
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">

                {% block activeMain %}
                <li>
                    <a href="/" class="visible-xs visible-sm text-center">
                    <i class="glyphicon glyphicon-home"></i>
                    Главная </a>

                    <a href="/" class="hidden-sm hidden-xs">
                    <i class="glyphicon glyphicon-home"></i>
                    Главная </a>
                </li>
                {% endblock %}

                {% if user_id %}
                {% block activeDonations %}
                <li>
                    <a href="/donations/" class="visible-sm visible-xs text-center">
                    <i class="glyphicon glyphicon-user"></i>
                    Мои донаты </a>

                    <a href="/donations/" class="hidden-xs hidden-sm">
                    <i class="glyphicon glyphicon-user"></i>
                    Мои донаты </a>
                </li>
                {% endblock %}

                {% block activeDonaters %}
                <li>
                    <a href="/donaters/" class="visible-xs visible-sm text-center">
                    <i class="glyphicon glyphicon-ok"></i>
                    Мои донатеры </a>

                    <a href="/donaters/" class="hidden-xs hidden-sm">
                    <i class="glyphicon glyphicon-ok"></i>
                    Мои донатеры </a>
                </li>
                {% endblock %}

                {% block activeGroups %}
                <li>
                    <a href="/groups/" class="visible-xs visible-sm text-center">
                    <i class="glyphicon glyphicon-flag"></i>
                    Мои группы </a>

                    <a href="/groups/" class="hidden-sm hidden-xs">
                    <i class="glyphicon glyphicon-flag"></i>
                    Мои группы </a>
                </li>
                {% endblock %}
                {% endif %}
            </ul>
        </div>
        <!-- END MENU -->
    </div>
{% endblock %}