{% extends "newDesign.html" %}

{% block content %}
    {% block header %} {% endblock %}
    {% block mainInformation %} {% endblock %}
{% endblock %}

{% block lastDonate %}
    <ul class="nav nav-sidebar text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><span class="label label-info">Последний донат</span></h4>
                <hr>
                <p><span class="glyphicon glyphicon-calendar"></span>{{ last_donate.0.donation_date }}</p>
                <p><span class="glyphicon glyphicon-rub"></span>{{ last_donate.0.donation_size }}</p>
                <p><span class="glyphicon glyphicon-bullhorn"></span>   {{ last_donate.0.donation_text }}</p>
            </div>
        </div>
    </ul>
{% endblock %}