{% extends "groups.html" %}

{% block quickOverview %}
  <div class="profile-content-for-current border">
    <a id="{{ group_id }}" class="group_id" target="_blank" href="https://vk.com/club{{group_id}}"><h1 id="name" class="panelTitle">{{ name }}</h1></a>
    <hr class="line">

    <div class="row moreSpaceForPanel">

    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
      <div class="myPanel">
        <div class="panelHead">
          <h2 class="panel-title"><strong>Общая сумма донатов</strong></h2>
        </div>
        <div class="panel-body">
            <h2  class="panelup"><strong id="sum_donation">{{ sum_donation }}</strong>
            <small><span class="glyphicon glyphicon-ruble"></span></small></h2>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
      <div class="myPanel">
        <div class="panelHead">
          <h2 class="panel-title"><strong>Количество донатов</strong></h2>
        </div>
        <div class="panel-body">
          <h2  class="panelup"><strong id="number_donation">{{number_donation}}</strong>
            <small><span class="glyphicon glyphicon-stats"></span></small></h2>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
      <div class="myPanel">
        <div class="panelHead">
            <h2 class="panel-title"><strong>Самый большой донат</strong></h2>
        </div>
        <div class="panel-body">
            <h2 class="panelup"><strong id="max_donate">{{max_donate}}</strong>
            <small><span class="glyphicon glyphicon-ruble"></span></small></h2>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
      <div class="myPanel">
        <div class="panelHead">
          <h2 class="panel-title"><strong>Средний размер донатов</strong></h2>
        </div>
        <div class="panel-body ">
          <h2  class="panelup"><strong id = "average_donate">{{average_donate|floatformat:0}}</strong>
            <small><span class="glyphicon glyphicon-ruble"></span></small></h2>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block tableData %}
  <div class="profile-content border moreSpace">
  <h2 class="tableTitle">Донаты в группе</h2>
  {% if objects %}
  <div class="table-responsive myTable">
    <table class="table table-hover myTable">
      <thead>
        <tr class="tableHead donation">
          <th>#</th>
          <th>Дата</th>
          <th>ID</th>
          <th>Размер</th>
          <th>Текст</th>
        </tr>
      </thead>
      <tbody id = "objects" class="tableBody donation">
        {% for donation in objects %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ donation.donation_date|date:"SHORT_DATE_FORMAT" }}</td>
            <td class="text-center"><a href="/currentDonater/get/{{ donation.donation_donater.donater_id }}">
            {{ donation.donation_donater.donater_id }}</a></td>
            <td>{{ donation.donation_size }}</td>
            <td>{{donation.donation_text}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    {% include "paginator.html" %}
  {% else %}
    <div class="noDonation">
      <p class="hidden-xs">В этой группе Вам еще никто не задонатил!</p>
      <p class="visible-xs text-center">В этой группе Вам еще никто не задонатил!</p>
    </div>
  {% endif %}
  </div>
{% endblock %}