{% extends "content.html" %}

{% block header %}
    <a target="_blank" href="https://vk.com/club{{ id }}"><h1 class="page-header title visible-xs text-center">{{ name }}</h1></a>
    <a target="_blank" href="https://vk.com/club{{ id }}"><h1 class="page-header title hidden-xs">{{ name }}</h1></a>
    <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
            <div class="panel panel-info heading">
                <div class="panel-heading headinghead">
                    <h2 class="panelup">Общий размер донатов</h2>
                </div>
                <div class="panel-body">
                    {% if group_summOfAllDonations == 0 %}
                        <h1><strong>0</strong>
                        <small><span class="glyphicon glyphicon-ruble"></span></small></h1>
                    {% else %}
                        <h1><strong>{{group_summOfAllDonations}}</strong>
                        <small><span class="glyphicon glyphicon-ruble"></span></small></h1>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
            <div class="panel panel-info heading">
                <div class="panel-heading headinghead">
                    <h2 class="panelup">Количество донатов</h2>
                </div>
                <div class="panel-body">
                    <h1><strong>{{numberOfDonations}}</strong>
                        <small><span class="glyphicon glyphicon-stats"></span></small></h1>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
            <div class="panel panel-info heading">
                <div class="panel-heading headinghead">
                    <h2 class="panelup">Самый большой донат</h2>
                </div>
                <div class="panel-body">
                    {% if theBiggestSize %}
                        <h1><strong>{{theBiggestSize.0.donation_size}}</strong>
                        <small><span class="glyphicon glyphicon-ruble"></span></small></h1>
                    {% else %}
                        <h1><strong>0</strong>
                        <small><span class="glyphicon glyphicon-ruble"></span></small></h1>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
            <div class="panel panel-info heading">
                <div class="panel-heading headinghead">
                    <h2 class="panelup">Средний донат</h2>
                </div>
                <div class="panel-body">
                    <h1><strong>{{averageDonate}}</strong>
                        <small><span class="glyphicon glyphicon-ruble"></span></small></h1>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block mainInformation %}
    <h2 class="subheader visible-xs text-center">Донаты в группе</h2>
    <h2 class="subheader hidden-xs">Донаты в группе</h2>
    {% if objects %}
    <div class="table table-responsive">
        <table class="table table-striped table-bordered table table-condensed">
            <thead>
                <tr class="info">
                    <th class="text-center ">#</th>
                    <th class="text-center ">Дата</th>
                    <th class="text-center ">ID</th>
                    <th class="text-center ">Размер</th>
                    <th class="text-center ">Текст</th>
                </tr>
            </thead>
            <tbody>
                {% for donation in objects %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ donation.donation_date }}</td>
                        <td class="text-center"><a href="/currentDonater/get/{{ donation.donation_donater.donater_id }}">
                        {{ donation.donation_donater.donater_id }}</a></td>
                        <td class="text-center">{{ donation.donation_size }}</td>
                        <td class="text-center">{{donation.donation_text}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p class="hidden-xs">В этой группе вам еще никто не задонатил!</p>
        <p class="visible-xs text-center">В этой группе вам еще никто не задонатил!</p>
    {% endif %}
{% endblock %}
