{% extends "content.html" %}

{% block quickOverview %}
  <div class="profile-content-for-current border">
  <a target="_blank" href="https://vk.com/id{{ donater.donater_id }}">
    <h1 class="text-center visible-xs visible-sm panelTitle">{{ donater.donater_firtstName }} {{ donater.donater_secondName }}</h1>
    <h1 class="hidden-xs hidden-sm panelTitle">{{ donater.donater_firtstName }} {{ donater.donater_secondName }}</h1>
    <hr class="line">
  </a>

  <div class="row">
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
      <div class="myPanel">
        <div class="panelHead">
          <h2 class="panel-title"><strong>Общий размер донатов</strong></h2>
        </div>
        <div class="panel-body">
          <h2  class="panelup"><strong>{{donater.donater_summOfAllDonations}}</strong>
            <small><span class="glyphicon glyphicon-ruble"></span></small></h2>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
      <div class="myPanel">
        <div class="panelHead">
          <h2 class="panel-title"><strong>Количество донатов</strong></h2>
        </div>
        <div class="panel-body">
          <h2  class="panelup"><strong>{{numberOfDonations}}</strong>
            <small><span class="glyphicon glyphicon-stats"></span></small></h2>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
      <div class="myPanel">
        <div class="panelHead">
          <h2 class="panel-title"><strong>Самый большой донат</strong></h2>
        </div>
        <div class="panel-body">
          <h2  class="panelup"><strong>{{theBiggestSize.0.donation_size}}</strong>
            <small><span class="glyphicon glyphicon-ruble"></span></small></h2>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 text-center">
      <div class="myPanel">
        <div class="panelHead">
          <h2 class="panel-title"><strong>Средний размер донатов</strong></h2>
        </div>
        <div class="panel-body">
          <h2  class="panelup"><strong>{{averageDonate}}</strong>
            <small><span class="glyphicon glyphicon-ruble"></span></small></h2>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block tableData %}
  <div class="profile-content border">
  <h2 class="visible-xs visible-sm text-center tableTitle">Донаты пользователя</h2>
  <h2 class="hidden-xs hidden-sm tableTitle">Донаты пользователя</h2>
  {% if objects %}
  <div class="table-responsive myTable">
    <table class="table table-hover myTable">
      <thead>
        <tr class="tableHead">
          <th>#</th>
          <th>Дата</th>
          <th>Размер</th>
          <th>Текст</th>
        </tr>
      </thead>
      <tbody class="tableBody">
        {% for donation in objects %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ donation.donation_date|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ donation.donation_size }}</td>
            <td>{{donation.donation_text}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    {% include "paginator.html" %}
  {% else %}
    <div class="noDonation">
      <p class="hidden-xs">Этот человек Вам не донатил!</p>
      <p class="visible-xs text-center">Этот человек Вам не донатил!</p>
    </div>
  {% endif %}
  </div>
{% endblock %}

{% block activateDonater %}
  <li class="active">
    <a href="/donaters/" class="">
      <i class="glyphicon glyphicon-user"></i>
      Донатеры </a>
  </li>
{% endblock %}