{% extends "content.html" %}

{% block tableData %}
  <div class="profile-content border moreSpace">
  <h1 class="hidden-xs tableTitle">Мои донаты</h1>
  <h1 class="visible-xs tableTitle text-center">Мои донаты</h1>
  {% if objects %}
  <div class="table-responsive myTable">
    <table class="table table-hover myTable">
      <thead class="tableHead donation">
        <tr>
          <th>#</th>
          <th>Дата</th>
          <th>ID</th>
          <th>Размер</th>
          <th>Текст</th>
        </tr>
      </thead>
      <tbody class="tableBody donation">
        {% for donation in objects %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ donation.donation_date|date:"SHORT_DATE_FORMAT"}}</td>
            <td><a href="/currentDonater/get/{{ donation.donation_donater.donater_id }}">
            {{ donation.donation_donater.donater_id }}</a></td>
            <td>{{ donation.donation_size }}</td>
            <td>{{donation.donation_text}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    {% include "paginator.html" %}
  {% else %}
    <div class="noDonation">
      <p> К сожалению, у Вас отсутствуют <b> донаты </b> :( </p>
    </div>
  {% endif %}
  </div>
{% endblock %}

{% block activeDonations %}
  <li class="active">
    <a href="/donations/" class="">
      <i class="glyphicon glyphicon-gift"></i>
      Донаты
    </a>
  </li>
{% endblock %}
