{% extends "content.html" %}
{% load staticfiles %}

<a href="/currentGroup/get/{{ group.group_id }}"> </a>

{% block groupSlider %}
  <div class="profile-content border">
  <h1 class="tableTitle">Мои группы</h1>

  {% if data %}
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for group in data %}
        <div class="swiper-slide">
          <a id="#cont_search_arenda" onclick="return false;" href="#cont_search_arenda">
            <img src="{{group.link}}" class="center img-circle" id="{{ group.group_id }}">
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
  {% else %}
  <div class="noDonation">
      <p>К сожалению, Вы еще не добавили группы :( Вы можете сделать это в <a class="alert-link" href="/settings/">настройках</a>!</p>
    </div>
  {% endif %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static "js/sliderActive.js" %}"></script>

  <div id="add" class="hidden">
  </div>

{% endblock %}

{% block activeGroups %}
  <li class="active">
    <a href="/groups/" class="">
      <i class="glyphicon glyphicon-flag"></i>
      Группы
    </a>
  </li>
{% endblock %}

{% block scripts %}
  <script src="{% static "js/swiper.min.js" %}"></script>
  <script src="{% static "js/slider.js" %}"></script>
{% endblock %}