{% extends "content.html" %}

{% block information %}
  <div class="profile-content border">
    <h1 class="hidden-xs tableTitle">О проекте</h1>
    <h1 class="visible-xs tableTitle text-center">О проекте</h1>
    <hr class="line">
    <div class="information">
      <h3><strong>Возможности</strong></h3>

        <p>
          Основная функция приложения заключается в предоставлении возможности отображения пользователей,
          пожертвовавших деньги на развитие сообщества. Отправив донат в группу,
          данные о пользователе и его сообщение сразу появятся в обложке Вашей группы. Эта функция не только
          <strong>подстегнёт пользователей делать больше
          пожертвований</strong>, но и <strong>повысит популярность Вашей группы</strong>.
        </p>
        <p>
          Конечно же Вы можете модифицировать внешний вид обложки Вашего сообщества,
          используя множество полезных инструментов.
          Интеграция приложения так же не должна вызывать проблем.
          Все, что Вам потребуется - наличие группы.
        </p>

      <hr class="line">
      <h3><strong>Преимущества</strong></h3>
      <ul>
        <li>
          <p>Нет необходимости что-либо скачивать, <strong>установить приложение можно сразу</strong> из вашей группы.</p>
        </li>
        <li>
          <p>Донаты отображаются реальном времени. С момента подтверждения оплаты
            платёжной системой до публикации доната проходит всего пару секунд.</p>
        </li>
        <li>
          <p><strong>Подробная статистика</strong>, позволяющая анализировать всю информацию, поступающую вместе с донатами.</p>
        </li>
        <li>
          <p>Первое приложение подобного типа, поддерживающее популярные в СНГ платёжные системы.</p>
        </li>
        <li>
          <p>Ваши реквизиты скрыты от просмотра, что представляет собой дополнительную <strong>защиту от злоумышленников</strong>.</p>
        </li>
        <li>
          <p>Настройки, позволяющие Вам самостоятельно <strong>настроить приложение под себя</strong>.</p>
        </li>
        <li>
          <p>Активное развитие сервиса, мы постоянно улучшаем и дорабатываем его.</p>
        </li>
      </ul>
      <hr class="line">
      <h3><strong>Оплата</strong></h3>

      <p>Во время использования данного приложения с каждого доната будет взыматься процент,
        зависящий от размера вашей группы:</p>

      <ul>
        <li><p>До 100 тысяч пользователей : <strong>30%</strong>.</p></li>
        <li><p>От 100 до 500 тысяч : <strong>25%</strong>.</p></li>
        <li><p>От 500 тысяч и больше : <strong>20%</strong>.</p></li>
      </ul>

      <p>Все средства выплачиваются в определённый день,
        устанавливаемый администратором сообщества в настройках приложения.</p>

      <hr class="line">
      <h3><strong>Контакты</strong></h3>
      <p>Более подробную информацию, а также ответы на интересующие вас вопросы можно получить здесь:</p>
          <address>
            <strong>E-mail</strong><br>
            <a href="">vkdonate.info@gmail.com</a>
          </address>

          <address>
            <strong>Группа Вконтакте</strong><br>
            <a href="">vk.com/club142762682</a>
          </address>
    </div>
  </div>
{% endblock %}

{% block activeInformation %}
  <li class="active">
    <a href="/information/" class="">
      <i class="glyphicon glyphicon-info-sign"></i>
      О проекте
    </a>
  </li>
{% endblock %}