{% extends "content.html" %}

{% block information %}
  <div class="profile-content border">
    <h1 class="hidden-xs tableTitle">О проекте</h1>
    <h1 class="visible-xs tableTitle text-center">О проекте</h1>
    <div class="text">
      <p> Информация о корпорации vkDonate.Информация о корпорации vkDonate.Информация о корпорации vkDonate.Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.
      Информация о корпорации vkDonate.Информация о корпорации vkDonate.</p>
    </div>
  </div>
{% endblock %}

{% block activeInformation %}
  <li class="active">
    <a href="/information/" class="">
      <i class="glyphicon glyphicon-info-sign"></i>
      О проекте
    </a>
  </li>
{% endblock %}