{% extends "vkdonate.html" %}

{% block sideControl %}
  <div class="profile-sidebar border hidden-xs">
    <div class="profile-usermenu">
      <ul class="nav">
        {% block activeMain %}
        <li>
          <a href="/" class="">
          <i class="glyphicon glyphicon-home"></i>
          Главная </a>
        </li>
        {% endblock %}

        {% if user_id %}
        {% block activeDonations %}
          <li>
            <a href="/donations/" class="">
            <i class="glyphicon glyphicon-gift"></i>
            Донаты </a>
          </li>
        {% endblock %}

        {% block activeDonaters %}
          <li>
            <a href="/donaters/" class="">
            <i class="glyphicon glyphicon-user"></i>
            Донатеры </a>
          </li>
        {% endblock %}

        {% block activeGroups %}
          <li>
            <a href="/groups/" class="">
            <i class="glyphicon glyphicon-flag"></i>
            Группы </a>
          </li>
        {% endblock %}
        {% block activeSettings %}
          <li>
            <a href="/settings/" class="">
            <i class="glyphicon glyphicon-cog"></i>
            Настройки </a>
          </li>
        {% endblock %}
        {% block activeStatistics %}
          <li>
            <a href="/statistics/" class="">
            <i style="margin-right: 6px" class="glyphicon glyphicon-stats"></i>
            Статистика </a>
          </li>
        {% endblock %}
        {% endif %}
        {% block activeInformation%}
          <li>
            <a href="/information/" class="">
            <i class="glyphicon glyphicon-info-sign"></i>
            О проекте</a>
          </li>
        {% endblock %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block lastDonate %}
  {% if user_id and last_donate %}
    <ul class="nav text-center lastDonate">
      <div class="panel">
        <div class="panel-heading">
          <p> Последний донат </p>
        </div>
        <div class="panel-body">
          <p><span class="glyphicon glyphicon-rub"></span> {{ last_donate.0.donation_size }}</p>
          <p><span class="glyphicon glyphicon-bullhorn"></span> {{ last_donate.0.donation_text }}</p>
          <p><span class="glyphicon glyphicon-calendar"></span> {{ last_donate.0.donation_date }}</p>
        </div>
      </div>
    </ul>
  {% endif %}
{% endblock %}