{% extends "content.html" %}

{% block mainInformation %}
    {% if donater == True %}
        <h2>МОИ ДОНАТЕРЫ</h2>
    {% elif donation == True %}
        <h2>МОИ ДОНАТЫ</h2>
    {% elif group == True %}
        <h2>МОИ ГРУППЫ</h2>
    {% endif %}
    <hr>
    {% if donater == True or donation == True %}
        <p>К сожалению, Вам еще никто не задонатил :(</p>
    {% else %}
        <p>К сожалению, Вы еще не добавиили группы :( Вы можете сделать это в настройках.</p>
    {% endif %}
{% endblock %}

{% block active %}
    <nav>
        <ul class="aside-menu">
            {% if donation == True %}
                <li class="active"><a href="/donations/">МОИ ДОНАТЫ</a></li>
            {% else %}
                <li><a href="/donations/">МОИ ДОНАТЫ</a></li>
            {% endif %}

            {% if donater == True %}
                <li class="active"><a href="/donations/">МОИ ДОНАТЕРЫ</a></li>
            {% else %}
                <li><a href="/donaters/">МОИ ДОНАТЕРЫ</a></li>
            {% endif %}

            {% if group == True %}
                <li class="active"><a href="/donations/">МОИ ГРУППЫ</a></li>
            {% else %}
                <li><a href="/groups/">МОИ ГРУППЫ</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block activeMain %}
    <li class="active"><a href="/">ДОМОЙ</a></li>
{% endblock %}